h1{
    color:red;
    background-color:#000000;
    font-size:70px;
    text-align:center
  }
  h2{color:rgb(255,255,255);
  background-color:hsl(107, 100%, 24%);
    font-weight:bold;
    text-decoration:overline
  }
  h3{background-color:yellow;
    font-style:italic;
    line-height:1.35;
    word-spacing:.80em;
  }
  p{color:hsl(188, 100%, 35%);
    font-variant:small-caps
  }
  ul{background-color:rgb(255, 153, 36);
    letter-spacing:0.080em;
    
  }
  ol{color:lightgray;
    background-color:hsl(67, 100%, 100%);
    letter-spacing:0.080em;
  }
  body{background-color:hsla(303, 85%, 34%, 1);
  }
  em{text-transform:lowercase;
  }
  strong{text-shadow:2px 5px 1px #000;
  }
  